body{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Poppins";

    margin-top: 3vh;
}

#container{
    width: 60vw;
}


img{
    width: 100%;
    margin-bottom: 50px;
}



h1{
    display: table-cell;
}