h1{
    position: relative;
}

#classinfo{
    margin-top: 28px;
    margin-left: 15px;
}


main a{
    text-decoration: none;
    color: #304b40;

    font-weight: 600;
}

footer a{
    color: #264143;
}

#studio, #rd, #final{
    margin-top: 0px;
}
main h2{
    margin-top: 5px;
    margin-bottom: 5px;
}

main ul{
    margin-top: 5px;
}

#container{
    max-width: 1366px;
    min-width: 900px;
}


#info{
    display: flex;
}


header{
    margin-bottom: 20px;
    color: #264143;
    margin-bottom: 30px;
}

body {
    color: #304b40;
    background-color: white;
    margin-top: 10px;
    font-family: "Quicksand";

    display: grid;
    place-content: center;
}


#banner{
    width: 1100px;
    height: 250px;
    background-color: #e6f1f5;
    border-radius: 20px;
    cursor: pointer;
    position: relative;
}

main, footer{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

main{
    width: 1100px;
}

main section{
    width: 25%;
    font-size: 16px;
}

main a:hover {
    text-decoration: underline;
}

.column:hover{
    box-shadow: 10px 10px 0px #506369;
}


.column{
    height: 270px;
    border-radius: 15px;
    background-color: #e8d3d0;
    padding: 25px;
    font-size: 17px;
}

#column2 li{
    margin-bottom: 20px;
}


li{
    list-style-type: none;
}


footer{
    margin-left: 116px;
    margin-right: 116px;
}

#flower-pot-1, #flower-pot-2, #flower-pot-3, #flower-pot-4, #flower-pot-5{
    position: absolute;
}

#flower-pot-1{
    left: 60px;
}

#flower-pot-2{
    left: 240px;
}

#flower-pot-3{
    left: 440px;
}

#flower-pot-4{
    left: 640px;
}

#flower-pot-5{
    left: 840px;
}

.flower-stem{
    height: 70px;
    width: 10px;
    background-color: #84ab32;

    position: absolute;
    top: 180px;
    left: 80px;
}

#flower-stem-2{
    height: 130px;
    top: 120px;
}

#flower-stem-3{
    height: 110px;
    top: 140px;
}

#flower-stem-5{
    height: 140px;
    top: 110px;
}

.flower-head{
    position: absolute;
    top: 130px;
    left: 50px;
    width: 70px;
    height: 70px;

   animation: rotate-flower 2s infinite alternate-reverse;
}

#flower-head-2{
    top: 70px;
    animation: rotate-flower 3s infinite alternate;
}

#flower-head-3{
    top: 90px;
    animation: rotate-flower 4s infinite alternate;
}

#flower-head-4{
    animation: rotate-flower 2s infinite;
}

#flower-head-5{
    top: 60px;
    animation: rotate-flower 2s infinite ease-in-out;
}

@keyframes rotate-flower{
    from {
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

.flower-center{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: yellow;

    position: absolute;

    left: 20px;
    top: 20px;

    z-index: 1;
}

#flower-head-1:hover > #flower-center-1{
    background-color: #6f37b3;
}

#flower-head-2:hover > #flower-center-2{
    background-color: brown;
}

#flower-head-3:hover > #flower-center-3{
    background-color: #304b40;
}

#flower-head-4:hover > #flower-center-4{
    background-color: #84ab32;
}

#flower-head-5:hover > #flower-center-5{
    background-color: #34dbdb;
}

.petal-1, .petal-2, .petal-3, .petal-4, .petal-5{
    height: 30px;
    width: 30px;
    background-color: #e81725;
    border-radius: 50%;
    position: absolute;
}

.petal-1{
    left: 20px;
}

.petal-2{
    right: 0px;
}

.petal-2, .petal-3{
    top: 15px;
}

.petal-4{
    bottom: 3px;
    left: 7px;
}

.petal-5{
    bottom: 3px;
    right: 7px;
}

.leaf{
    height: 40px;
    width: 20px;
    border-radius: 50%;
    background-color: #84ab32;
    position: absolute;
}

#flower-1-leaf{
    top: 200px;
    left: 60px;
    transform: rotate(140deg);
}

#flower-2-leaf-2{
    left: 60px;
    transform: rotate(140deg);
    top: 150px;
}

#flower-2-leaf-1{
    left: 90px;
    transform: rotate(230deg);
    top: 190px;
}

#flower-3-leaf-1{
    left: 60px;
    transform: rotate(140deg);
    top: 210px;
}

#flower-3-leaf-2{
    left: 90px;
    transform: rotate(230deg);
    top: 180px;
}

#flower-4-leaf-1, #flower-5-leaf-3{
    left: 90px;
    transform: rotate(230deg);
    top: 200px;
}

#flower-5-leaf-1{
    left: 90px;
    transform: rotate(230deg);
    top: 130px;
}
#flower-5-leaf-2{
    left: 60px;
    transform: rotate(140deg);
    top: 165px;
}

