body{
    display: flex;
    flex-direction: column;
    font-family: "Montserrat";
    width: 100vw;
    overflow: hidden;
}

header div{
    overflow-x: hidden;
}

#main{
    padding-left: 5vw;
    box-sizing: border-box;
    /* position: absolute; */
}

.topics{
    /* background-color: aqua; */
}

.images{
    height: 23vh;
    display: flex;
    overflow: hidden;
    /* overflow-x: scroll; */
    justify-content: space-between;
}

.images img{
    margin-right: 5vw;
}

.fa-solid.fa-bars{
    position: absolute; 
    top: 4vh;
    right: 9vw;
}

header{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.topics h1{
    font-size: 3vh;
}

#menuOptions{
    width: 35vw;
    height: 100vh;
    /* background-color: aqua; */
    background-color: rgb(253, 249, 249);
    position: absolute;
    top:0;
    padding: 15vw 5vw;
    right:0;
    
    display: flex;
    flex-direction: column;

    transform: translateX(100%);
}

@keyframes menuAppear {
    from{
        transform: translateX(100%);
    }
    to{
        transform: translateX(0);
    }
}

@keyframes menuDisappear {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(100%);
    }
}

#menuOptions p{
    display: inline-block;
}

.fa-solid.fa-xmark{
    position: absolute;
    top: 4vh;
    right:9vw;
}


section h1{
    display: inline-block;
    margin: 15px;
}

#uploadPage{
    padding-left: 5vw;
    /* background-color: aqua; */
    display: none;
}


label, textarea{
    display: block;
    margin-bottom: 1vh;
}

#upload input{
    margin-bottom: 3vh;
    display: block;
}

#homeOption:hover, #addOption:hover, #aboutOption:hover{
    cursor: pointer;
    text-decoration: underline;
}

textarea{
    column-span: 10;
}

#name{
    border: none;
    border-bottom: 1px solid black;
    background-color: none;
}