body{
    display: flex;
    flex-direction: column;
    font-family: "Montserrat";
    overflow-x: hidden;
}

header div{
    overflow-x: hidden;
}

#mainPage{
    padding-left: 5vw;
    box-sizing: border-box;
    /* position: absolute; */
}

.images{
    height: 23vh;
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    justify-content: space-between;
}

.images img{
    margin-right: 5vw;
}


header{
    /* width: 100vw; */
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: sticky;
    top:0;
    left:0;
    background-color: white;
}


#menu{
    width: 40vw;
    height: 100vh;
    /* background-color: aqua; */
    background-color: rgb(253, 249, 249);
    position: fixed;
    top:0;
    right:0;

    box-sizing: border-box;
    padding: 15vw 5vw;
    
    
    display: flex;
    flex-direction: column;

    transform: translateX(40vw);
    transition: transform .8s;
}

#menu.show{
    transform: translateX(0);
}


#menuOptions p{
    display: inline-block;
}

.fa-solid.fa-xmark{
    position: absolute;
    top: 4vh;
    right:9vw;
}


section h2{
    display: inline-block;
    margin: 15px;
    text-decoration: underline;
}

#uploadPage{
    padding-left: 5vw;
    /* background-color: aqua; */
    display: none;
}


label, textarea{
    display: block;
    margin-bottom: 1vh;
}

input, select{
    margin-bottom: 3vh;
    display: block;
}

#homeOption:hover, #addOption:hover, #aboutOption:hover{
    cursor: pointer;
    text-decoration: underline;
}


#name, select{
    padding: 7px;
}

select{
    width: 130px;
}

form{
    width: 80vw;
    box-sizing:content-box;
    padding: 5vw;
    /* background-color: aquamarine; */
    display: flex;
    flex-direction: column;
}

#submit{
    align-items: center;
    width: 30vw;
    border-radius: 15px;
    padding: 5px;
    margin: 0;
}

#aboutPage{
    display: none;
    padding: 25px;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 70px;
    height: 70px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  #loadingScreen{
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      justify-content: center;
      align-items: center;
      background-color: rgba(26, 25, 25, 0.356);
      display: none;
  }

  section section{
      margin-bottom: 20px;
  }

  #shoePage{
      display: none;
  }

  .fa-solid.fa-angle-left{
      /* display: none; */
  }