body{
    font-family: "Prata";
    display: flex;
    justify-content: center;
}


section{
    margin-bottom: 50px;
    padding: 20px;
}
section h2{
    text-align: justify;
    line-height: 1.3;
}

#pageTitle{
    font-size: 70px;
    font-weight: bold;
}

#container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 1366px;
    /* height: 768px; */
}

section:first-of-type{
    background-color: #c68642;
    color: rgb(250, 245, 237);
}

section:nth-of-type(2){
    background-color: #ffdbac;
}

section:last-of-type{
    background-color: #f1c27d;
}